body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p {
 line-height: 1.4;
 color: #7f969e;
}

header {
 background-color: #2A2A2A;
 position: relative;
}

header > div {
 width: 1200px;
 display: flex;
 justify-content: space-between;
 margin: 0 auto;
}

header img {
 margin: 20px 0px;
}

header nav {
 display: flex;
 align-items: center;
}

nav a:last-of-type {
 color: #FDB530;
}

header nav a:hover {
 color: white;
}

header nav a {
 text-transform: uppercase;
 color: #d4d4d4;
 border-radius: 3px;
 font-size: 14px;
 font-weight: 600;
 padding: 7px 15px;
 text-decoration: none;
 transition: all .25s;
}



footer {
 color: #c7c5c5;
 background-color: #504f4f;
 text-align: center;
 padding: 40px 0;
 font-size: 18px;

 line-height: 1.4;
}
